<div class="flex flex-col flex-wrap bg-white rounded-3xl p-4 ">
  <ul class="flex flex-wrap w-full justify-between text-xs md:text-lg">
    <li class="">
      <input class="peer sr-only" type="radio" name="answer" id="yes" checked
      (click)="searchTag(region[0])" />
      <label class="radioInput peer-checked:bg-pink-400 peer-checked:ring-pink-500 " for="yes">Africa</label>
    </li>

    <li class="">
      <input class="peer sr-only" type="radio" name="answer" id="no"
      (click)="searchTag(region[1])" />
      <label class="radioInput peer-checked:bg-yellow-400 peer-checked:ring-yellow-500" for="no">America</label>
    </li>

    <li class="">
      <input class="peer sr-only" type="radio" name="answer" id="yesno"
      (click)="searchTag(region[2])" />
      <label class="radioInput peer-checked:bg-red-400 peer-checked:ring-red-500" for="yesno">Asia</label>
    </li>
    <li class="">
      <input class="peer sr-only" type="radio" name="answer" id="yesno1"
      (click)="searchTag(region[3])" />
      <label class="radioInput peer-checked:bg-green-400 peer-checked:ring-green-500" for="yesno1">Europe</label>
    </li>
    <li class="">
      <input class="peer sr-only" type="radio"name="answer" id="yesno2"
      (click)="searchTag(region[4])" />
      <label class="radioInput peer-checked:bg-cyan-400 peer-checked:ring-cyan-500" for="yesno2">Oceania</label>
    </li>
  </ul>
</div>
