<shared-loader *ngIf="isLoading"></shared-loader>
<div *ngIf="country">
  <div class="table-section shadow-xl">
    <div class="flex flex-col md:flex-row justify-between mx-5 mt-4 mb-8">
      <div class="flex flex-col text-2xl py-4 my-auto w-2/3">
        <div *ngIf="country.name.nativeName.spa; else eng" >
          <h1>
            Nombre Oficial: {{country.name.nativeName.spa.official}}
          </h1>
          <p class="italic text-xl">
            Nombre Común: {{country.name.nativeName.spa.common}}
          </p>
          <div class="flex flex-wrap  mt-4 gap-y-2">
            <span class="badge">{{ country.translations['ara'].common }}</span>
            <span class="badge">{{ country.translations['fra'].common }}</span>
            <span class="badge">{{ country.translations['ita'].common }}</span>
            <span class="badge">{{ country.translations['jpn'].common }}</span>
            <span class="badge">{{ country.translations['rus'].common }}</span>
            <span class="badge">{{ country.translations['zho'].common }}</span>
            <span class="badge">{{ country.translations['deu'].common }}</span>
            <span class="badge">{{ country.translations['spa'].common }}</span>
          </div>
        </div>
        <ng-template #eng >
          <div class="flex">
            <div class="flex flex-col">
              <h1>
                Name: {{country.name.official}}
              </h1>
              <p class="italic text-xl">
                Common Name: {{country.name.common}}
              </p>
              <div class="flex flex-wrap mt-4 gap-y-2 mx-1">
                <span class="badge">{{ country.translations['ara'].common }}</span>
                <span class="badge">{{ country.translations['fra'].common }}</span>
                <span class="badge">{{ country.translations['ita'].common }}</span>
                <span class="badge">{{ country.translations['jpn'].common }}</span>
                <span class="badge">{{ country.translations['rus'].common }}</span>
                <span class="badge">{{ country.translations['zho'].common }}</span>
                <span class="badge">{{ country.translations['deu'].common }}</span>
                <span class="badge">{{ country.translations['spa'].common }}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div>
        <img [src]="country.flags.svg" [alt]="country.flag" class="h-48 w-auto border-2 rounded-lg shadow-xl shadow-teal-400">
      </div>
    </div>
      <div class="table-definition">
        <table class="table-table">
          <tbody class="table-rows">
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Capital
              </td>
              <td class="px-1 py-3" >
                {{ country.capital }}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Population:
              </td>
              <td class="px-1 py-3" >
                {{ country.population | number }}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Area:
              </td>
              <td class="px-1 py-3">
                {{country.area | number}}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Moneda:
              </td>
              <td class="px-1 py-3" >
                {{country.currencies}}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Region:
              </td>
              <td class="px-1 py-3" >
                {{ country.region}}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3">
                Subregion:
              </td>
              <td class="px-1 py-3" >
                {{ country.subregion }}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Latitude & Longitude:
              </td>
              <td class="px-1 py-3" >
                {{country.latlng}}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Borders:
              </td>
              <td class="px-1 py-3" >
                {{ country.borders }}
              </td>
            </tr>
            <tr class="table-rows-content">
              <td class="px-1 py-3" >
                Code:
              </td>
              <td class="px-1 py-3" >
                {{ country.cca3 }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

</div>
