<div class="flex flex-col mt-3 w-fit  sm:w-11/12 sm:mx-auto">
  <div class="bg-white justify-around rounded-full flex ">
    <button *ngFor="let region of regions" (click)="searchByRegion(region)"
    class="readio-input rounded-xl p-3 my-2"
    [ngClass]="{ ' ring-2 ring-cyan-700 ': selectedRegion === region }">{{region}}</button>

  </div>
  <div class="table-area">
    <shared-loader *ngIf="isLoading"></shared-loader>
    <shared-country-table [countries]="countries">
    </shared-country-table>
  </div>
</div>
